body{
    font-size: 18px;
}

a:link {
    text-decoration: none;
  }

#main-nav{
	border-radius: 0;
	background-color: skyblue;
    padding: 20px;
}

#nav-items ul li a{
    color: blue;
    text-align: center;
}

#nav-button .icon-bar{
    border: 1px blue;
}

#brand{
	color: #000;
	margin: 0px;
}

#main-content{
	background-color: skyblue;
	margin: 15px;
	height: 1000px;
}
